<div class="news">
  <h2>kontakt</h2>
    <div class="table-responsive">
      <table class="table table-sm table-borderless">
        {% if page.contact.address %}
          <tr>
            <th scope="row">Post</th>
            <td>{{ page.contact.address | remove: '<p>' | remove: '</p>' }}</td>
          </tr>
        {% endif %}
        {% if page.contact.secretary %}
          <tr>
            <th scope="row">Sekretariat</th>
            <td>{{ page.contact.secretary | remove: '<p>' | remove: '</p>' }}</td>
          </tr>
        {% endif %}
      </table>
    </div>
</div>
